:root {
	--header-color: #ffffff;
	--accent-color: #ff6c00;
	--first-title-color: #ffffff;
	--second-title-color: #303030;
	--main-btn-color: #ffffff;
	--second-btn-color: #303030;
	--typical-margin: 20px;
}

body {
	font-family: "Open Sans", "Tahoma", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	text-decoration: none;
}

ul,
ol {
	padding-left: 0;
	margin: 0;
	list-style: none;
}

button {
	cursor: pointer;
}

img {
	display: block;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

/* ---------header------------ */
.header {
	padding-top: 32px;
	padding-bottom: 32px;
	position: absolute;
	width: 100%;
}
.header .container {
	display: flex;
	align-items: center;
}
.logo {
	margin-right: 70px;
}

.navigation-list {
	display: flex;
}
.navigation-item:not(:last-child) {
	margin-right: 40px;
}
.navigation-link {
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.1em;
	color: var(--header-color);
}

.navigation-link:hover,
.navigation-link:focus {
	color: var(--accent-color);
}
.header-conect {
	margin-left: auto;
}
.contact-link {
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.1em;
	color: var(--header-color);
}

.register-button {
	font-family: inherit;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	color: var(--header-color);
	margin-left: 40px;
	padding: 12px 20px;
	max-width: 180px;
	background-color: transparent;
	border: 1px solid #ff6c00;
	border-radius: 25px;
}

.register-button:hover,
.register-button:focus {
	background-color: var(--accent-color);
}

/* --------hero---------- */
.hero .container {
	display: flex;
}
.hero-soc {
	width: 66px;
	display: flex;
	align-items: flex-end;
	padding-left: 24px;
	padding-bottom: 40px;
}
.hero-list {
	display: flex;
	align-items: center;
	justify-content: baseline;
	transform-origin: top left;
	transform: rotate(-90deg) translate(-19px);
}
.hero-item:not(:last-child) {
	margin-right: 40px;
}
.hero-list::before {
	content: "";
	display: block;
	width: 60px;
	height: 1px;
	background-color: currentColor;
	margin-right: 40px;
}

.hero-link {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.2em;
	color: var(--second-title-color);
}

.hero-link:hover,
.hero-link:focus {
	color: var(--accent-color);
}
.hero-contents {
	background-color: #555555;
	background-image: linear-gradient(rgba(25, 28, 38, 0.5), rgba(25, 28, 38, 0.5)), url(../images/slider-img-3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 272px 0 206px 96px;
	flex-grow: 1;
}
.hero-text::before {
	content: "";
	width: 63px;
	height: 1px;
	background-color: currentColor;
	margin-right: var(--typical-margin);
}

.hero-text {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: rgba(157, 164, 189, 0.6);
	margin-bottom: var(--typical-margin);
	display: flex;
	align-items: center;
}

.hero-title {
	font-family: "Raleway", "Tahoma", sans-serif;
	font-size: 72px;
	line-height: 1.18;
	letter-spacing: 0.05em;
	color: var(--first-title-color);
	margin-bottom: var(--typical-margin);
}

.hero-content {
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: #9da4bd;
	max-width: 400px;
}

/* --------about----------- */

.about {
	padding-top: 163px;
	padding-bottom: 88px;
}
.about .container {
	display: flex;
}
.about-list {
	display: flex;
}
.about-item:first-child {
	margin-right: 30px;
}
.about-images {
}
.about-text-wrap {
	max-width: 500px;
	margin-left: 64px;
}
.about-top-text {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: var(--second-title-color);
	margin-bottom: 19px;
	display: flex;
	align-items: center;
}
.about-top-text::before {
	content: "";
	width: 60px;
	height: 1px;
	background-color: currentColor;
	margin-right: var(--typical-margin);
}
.about-title {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 42px;
	line-height: 1.17;
	letter-spacing: 0.05em;
	color: var(--second-title-color);
	margin-bottom: 20px;
}
.about-bot-text {
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: #555555;
	margin-bottom: 19px;
}

.about-content {
	font-size: 14px;
	line-height: 1.86;
	letter-spacing: 0.02em;
	color: #555555;
}

.about-reg-button {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	color: #303030;
	margin-top: 39px;
	padding: 12px 20px;
	border: 1px solid #ff6c00;
	border-radius: 25px;
	background-color: transparent;
}

/* ---------PRICES-------------- */
.prices {
	background-color: #111319;
	background-image: url(../images/img-prices.png);
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 1280px;
	margin: 0 auto;
	padding-top: 130px;
	padding-bottom: 130px;
}

.prices-text {
	font-style: normal;
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: rgba(157, 164, 189, 0.6);
	margin-bottom: var(--typical-margin);
	display: flex;
	align-items: center;
}
.prices-text::before {
	content: "";
	width: 60px;
	height: 1px;
	background-color: currentColor;
	margin-right: var(--typical-margin);
}

.prices-title {
	font-family: "Raleway", Tahoma, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 1.17;
	letter-spacing: 0.05em;
	color: var(--first-title-color);
	margin-bottom: 44px;
}
.prices-list-wrap {
	display: flex;
	margin-bottom: 50px;
}
.prices-list {
	padding: 30px 40px;
	flex-grow: 1;
}
.prices-light {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.prices-dark {
	background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.prices-item {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}
.prices-item::after {
	content: "";
	flex-grow: 1;
	height: 1px;
	background-color: #9da4bd;
	margin-right: 6px;
	margin-left: 6px;
}

.prices-item:not(:last-child) {
	margin-bottom: var(--typical-margin);
}

.prices-item-text {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.67px;
	letter-spacing: 0.02em;
	color: #9da4bd;
}

.prices-content {
	font-size: 18px;
	line-height: 1.67;
	text-align: right;
	letter-spacing: 0.02em;
	color: #9da4bd;
	order: 1;
}
.prices-reg-but {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	color: #ffffff;
	padding: 12px 20px;
	background-color: transparent;
	border: 1px solid #ff6c00;
	border-radius: 25px;
	margin: 0 auto;
	display: block;
}

/* --------REASONS ----------------- */
.reasons {
	padding-top: 152px;
	padding-bottom: 137px;
}
.reasons .container {
	display: flex;
}
.reasons-list {
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	margin-left: -30px;
}
.reasons-item {
	width: 170px;
	height: 133px;
	padding: 20px 24px;
	text-align: center;
	background-color: #f7f7f7;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-basis: calc((100% - 2 * 30px) / 3);
	margin-left: 30px;
	margin-bottom: 30px;
}
.reasons-item:nth-child(2n + 2) {
	margin-top: 35px;
}
.reasons-text {
	font-weight: 700;
	font-size: 42px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.05em;
	color: var(--second-title-color);
	display: flex;
	align-items: flex-start;
	margin-bottom: 6px;
}
.reasons-text::after {
	content: "";
	background-image: url(../images/icon-plus.png);
	width: 10px;
	height: 10px;
}
.reasons-content {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	text-align: center;
	color: var(--second-title-color);
	max-width: 122px;
}
.reasons-text-wrap {
	max-width: 500px;
}
.reasons-top-text {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: var(--second-title-color);
	margin-bottom: var(--typical-margin);
	display: flex;
	align-items: center;
}
.reasons-top-text::before {
	content: "";
	width: 60px;
	height: 1px;
	background-color: currentColor;
	margin-right: var(--typical-margin);
}

.reasons-title {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 1.17;
	letter-spacing: 0.05em;
	color: var(--second-title-color);
	margin-bottom: var(--typical-margin);
}
.reasons-bot-text {
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: #555555;
	max-width: 500px;
}
/* ----------MASTERS ------------- */
.masters {
	padding-top: 164px;
	padding-bottom: 116px;
	background-color: #f7f7f7;
}

.masters-text {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: var(--second-title-color);
	margin-bottom: var(--typical-margin);
	display: flex;
	align-items: center;
}
.masters-text::before {
	content: "";
	width: 60px;
	height: 1px;
	background-color: currentColor;
	margin-right: var(--typical-margin);
}
.masters-title {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 1.66;
	letter-spacing: 0.05em;
	color: var(--second-title-color);
	margin-bottom: 44px;
}

.masters-list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -30px;
}

.masters-item {
	flex-basis: calc((100% - 3 * 30px) / 3);
	margin-left: 30px;
}

.masters-item-title {
	font-size: 18px;
	line-height: 1.38;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--second-title-color);
	margin-top: 30px;
}

.masters-item-text {
	font-size: 14px;
	line-height: 1.35;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--accent-color);
	margin-top: 8px;
	margin-bottom: 30px;
}

.masters-soc-list {
	display: flex;
	justify-content: center;
}
.masters-soc-item + .masters-soc-item {
	margin-left: 10px;
}
.masters-soc-link {
	width: 44px;
	height: 44px;
	background: #ffffff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	fill: #303030;
}
.masters-soc-link:hover,
.masters-soc-link:focus {
	fill: var(--accent-color);
}

/* --------------GALERY------------ */
.gallery {
	padding-top: 130px;
	padding-bottom: 130px;
}

.gallery-text {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: var(--second-title-color);
	margin-bottom: 44px;
	display: flex;
	align-items: center;
}
.gallery-text::before {
	content: "";
	width: 60px;
	height: 1px;
	background-color: currentColor;
	margin-right: var(--typical-margin);
}
.gallery-list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -30px;
}
.galery-item {
	flex-basis: calc((100% - 4 * 30px) / 4);
	margin-left: 30px;
}

/* -----------	information-------- */
.information .container {
	display: flex;
}
/* ------------REGISTRATION------- */

.registration {
	background-color: #191c26;
	padding-top: 130px;
	padding-left: 56px;
	flex-grow: 1;
}

.registr-title {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 1.66;
	letter-spacing: 0.05em;
	color: var(--first-title-color);
	margin-bottom: 44px;
}
.footer-form {
	display: flex;
	flex-direction: column;
}
.inputs-wrap {
	display: flex;
	justify-content: space-between;
	margin-bottom: 44px;
}
.online-field {
	width: 245px;
	height: 24px;
	position: relative;
}
.online-field:not(:last-child) {
	margin-right: 30px;
}
.online-input {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background-color: transparent;
	border-bottom: 1px solid rgba(157, 164, 189, 0.4);
	transition: border-color 300ms;
	color: #9da4bd;
}
.online-input:focus {
	border-color: #ffffff;
}
.online-input:focus + .lable {
	color: #ffffff;
	transform: translateY(-100%);
}
.online-input:not(:placeholder-shown) + .label {
	color: #ffffff;
	transform: translateY(-100%);
}
.lable {
	position: absolute;
	top: -15px;
	left: 0;
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: rgba(157, 164, 189, 0.4);
	transition: transform 300ms, color 300ms;
}
.online-text-field {
	height: 60px;
	position: relative;
	margin-bottom: 44px;
}
.textarea {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background-color: transparent;
	border-bottom: 1px solid rgba(157, 164, 189, 0.4);
	resize: none;
	color: #9da4bd;
}
.textarea:focus {
	border-color: #ffffff;
}

.reg-but {
	font-family: inherit;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	color: var(--header-color);
	margin-left: 40px;
	padding: 12px 20px;
	max-width: 180px;
	background-color: transparent;
	border: 1px solid #ff6c00;
	border-radius: 25px;
	align-items: center;
}
/* ----------CONTACTS------ */
.contacts {
	background-color: #191c26;
	background-image: url(../images/bg-contacts.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 130px;
	padding-bottom: 130px;
	padding-left: 99px;
	display: flex;
	flex-direction: column;
	width: calc(50% - 15px);
}

.contacts-title {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 1.66;
	letter-spacing: 0.05em;
	color: var(--first-title-color);
	margin-bottom: 40px;
}

.contacts-address {
	margin-bottom: 70px;
}
.contacts-list {
}
.contacts-item {
	display: flex;
	align-items: baseline;
}
.contacts-item::before {
	content: "";
	color: currentColor;
	width: 26px;
	height: 20px;
	margin-right: 16px;
}
.adress::before {
	background-image: url(../images/map-pin.png);
}
.tel::before {
	background-image: url(../images/phone.png);
}
.mail::before {
	background-image: url(../images/mail.png);
}
.contacts-link {
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: #9da4bd;
}
.contacts-icon {
	fill: #9da4bd;
	display: inline-block;
}
.contacts-text {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: var(--first-title-color);
	display: flex;
	align-items: center;
}
.contacts-text::before {
	content: "";
	width: 60px;
	height: 1px;
	background-color: #9da4bd;
	margin-right: var(--typical-margin);
}
.contacts-content {
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: #9da4bd;
	margin-top: var(--typical-margin);
}

/* ---------- FOOTER---------*/
.footer {
	padding: 57px 55px 55px 55px;
}

.footer .container {
	display: flex;
}
.footer-text {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.2em;
	color: #9da4bd;
}
.footer-list {
	display: flex;
	margin-left: auto;
}
.footer-item:not(:last-child) {
	margin-right: 40px;
}
.footer-item:first-child {
	display: flex;
	align-items: center;
}

.footer-item:first-child::before {
	content: "";
	width: 60px;
	height: 1px;
	background-color: #9da4bd;
	margin-right: 40px;
}
.footer-link {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.2em;
	color: #303030;
}
